.image__text__container{
    height: 90vh;
    margin: auto;

    .imageContainer{ 
        height: 210px;
        width: 230px;
        .imageItself{
            border-radius: 100px;
            height: 100%;
            width: 100%;
           
        }
    }
    .text__container{
        width: 500px;
    }
}