.hero_main{
    height: 80vh;
    width: 100%;
    .hero_main_content{
        padding-top: 160px;
        img{
            border-radius: 100px;
            max-height: 200px;
            height: 100%;
        }
        .hero_main_content_text{
            padding-top: 20px;
            text-align: center;
            max-width: 500px;
            p:first-child{
                font-size: 28px;
            }
            p:last-child{
                font-size: 20px;
            }
        }

    }
}   