.story_page_main{
color: rgb(0, 0, 0);
   .main_text_container{
    height: 100%;
    width: 100%;
    padding: 20px 15px 80px 15px;
    word-spacing: 2px;
    .main_text_chunk{
        text-align: justify;
    }


   }
}