.navbar__container{
    width: 100% !important;
    height: 80px;
    .logo__image{
    background-color: transparent !important;
    max-width: 150px ;
    margin: 0 auto;
    }

}
@media (max-width: 992px) { 
   
}