@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');


h2,h3,h4,h6,p{
    font-family: 'Syne Mono', monospace;
  }

  h1{
    font-family: 'Syne Mono', monospace;
    font-size:40px;
  }
  h2{
    font-family: 'Syne Mono', monospace;
    font-size:25px;
  }
  h5{
    font-family: 'Syne Mono', monospace;
    font-size:20px;
  }