.main_container{
    height: 100vh;
    .main_showcase{
        .text_image_container{
            padding: 20px 0;
            .sturdy_button{
                margin: 20px 0;
            }
        }
    }
}