.main_container{
padding-bottom: 200px;
    .main_showcase{
        .text_image_container{
            padding: 20px 20px 0 20px;
            .sturdy_button{
                margin: 20px 0;
            }
        }
    }
}